<div class="container">

    <div class="card mx-5 p-5">

        <div class="card-body">

            <form [formGroup]="clientForm" (ngSubmit)="addClient()" autocomplete="off">
                <hr>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" formControlName="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" formControlName="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" formControlName="phone" placeholder="phone">
                </div>

                <div class="form-group">
                    <input type="text" name="address" class="form-control" formControlName="address"
                        placeholder="address">
                </div>

                <!-- <div class="form-group">
                    <input type="text" name="type" class="form-control" formControlName="type" placeholder="type">
                </div> -->

                <!-- <div class="form-group">
                    <ng-multiselect-dropdown [placeholder]="'Type of User'" [settings]="typeDropdownSettings"
                        [data]="typeDropdownList" (onSelect)="onTypeSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div> -->

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Type of User</label>
                    <select class="form-control" name="selectAction" formControlName="type">
                        <option *ngFor="let op of typeDropdownList" [value]="op.item_id">
                            {{op.item_text}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="defaultCheck1" formControlName="IsActive">
                        <label class="form-check-label" for="defaultCheck1">
                            IsActive
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <ng-multiselect-dropdown [placeholder]="'Select Packages'" [settings]="dropdownSettings"
                        [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>

                

                <!-- <div class="form-group">
                    <input type="radio" value="male" name="gender" class="form-control" formControlName="gender">
                    <label class="form-check-label" for="male">
                        male
                    </label>
                    <input type="radio" value="female" name="gender" class="form-control" formControlName="gender">
                    <label class="form-check-label" for="exampleRadios1">
                        female
                    </label>
                </div> -->


                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" formControlName="gender"
                        value="female">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" formControlName="gender"
                        value="male">
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>


                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success mr-2">Register</button>
                    <!-- <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button> -->
                </div>


            </form>

        </div>
    </div>
</div>